#prefix.shadowed.upper="Enterprise HTML Is:"
#message.shadowed.upper!=tip.message
code#example
  pre!=tip.example
p#author="Submitted by: "
  a(href="http://twitter.com/#/" + tip.author)=tip.author 
p#permalink
  a(href="/" + index)="Permalink"
style
  | #author a, em { color: ##{color}; }